<div class="row NoHM MarginTop25">
    <div class="col-md-12">
        <h1 class="HeaderText">Login</h1>
        <div class="MarginTop10 CHR"></div>
        <div class="CHR"></div>
        <div class="well RWidth50" style="margin:50px auto 50px auto;">
            <form ng-submit="login()">
                <input type="text" placeholder="username" class="form-control" ng-model="loginData.userName" />
                <input type="text" placeholder="password" class="form-control MarginTop10" ng-model="loginData.password" />
                <input type="submit" value="Login" class="MarginTop10 btn btn-sm btn-info" />
                <span ng-show="loggingIn" style="position:relative; top: 10px; left: 15px;"><i class="fa fa-spinner BigSpinner fa-spin GreenText"></i></span>
                <h5 class="RedText MarginTop10" ng-show="invalidAuth">{{ errorMessage }}</h5>
            </form>
        </div>
    </div>
</div>
