body,html,#PageContainer {
    height: 100%;
}

#PageContainer > .row {
    height: 100%;
}

#PageContainer > .row > .LeftSide {
    height: 100%;
    background: #000;
}

.carousel-control, .carousel-indicators {
    display: none;
}


