<div class="row NoHM MarginTop25">
    <div class="col-md-12">
        <h1 class="HeaderText">Guestbook</h1>
        <div class="MarginTop10 CHR"></div>
        <div class="CHR"></div>
        <h3 class="Center MarginTop20"><a href="javascript:;" ng-click="open()" ng-show="!postsError">Sign Our Guestbook</a></h3>        
        <div ng-show="postsError" class="MarginTop20 MarginBottom25">
            <h2 class="RedText Frederick">{{ postsError }}</h2>
        </div>
        <h2 class="Frederick MarginTop20 MarginBottom25 RedText" ng-show="loadingPosts && !postsError">
            Loading Guestbook...
            <i class="fa fa-spinner BigSpinner fa-spin GreenText"></i>
        </h2>        
        <div class="MarginTop20 Guestbook" ng-show="!postsError && !loadingPosts">
            <div ng-repeat="post in posts" class="well">
                <div class="TextBlock">
                    <p>
                        {{ post.Message }}
                        <br />
                        <br />
                        <b>Love,</b>
                        <br />
                        {{ post.Name }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
        <span class="glyphicon glyphicon-remove HoverMe pull-left CloseModalDark" ng-click="cancel()"></span>
        <form ng-submit="sendMessage()" ng-show="!messageGood">
            <div class="row NoHM">
                <div class="col-md-12">
                    <h3>Leave Us a Message!</h3>
                </div>
            </div>
            <div class="row NoHM MarginTop20">
                <div class="col-md-6">
                    <input type="text" ng-class="{'input-validation-error': formError}" ng-model="formData.Name" class="form-control" placeholder="Your Name" />
                </div>
                <div class="col-md-6">
                    <input type="text" ng-class="{'input-validation-error': formError}" ng-model="formData.Email" class="form-control RCol10" placeholder="Your Email" />
                </div>
            </div>
            <div class="row NoHM MarginTop10">
                <div class="col-md-12">
                    <textarea ng-model="formData.Message" ng-class="{'input-validation-error': formError}" style="min-height: 100px;" class="form-control" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="row NoHM MarginTop10">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-sm btn-info" value="Submit" />
                    <span ng-show="formSubmitting"><i class="fa fa-spinner BigSpinner fa-spin GreenText" style="position:relative; top:5px; margin-left: 15px;"></i></span>
                </div>
            </div>
            <div class="row NoHM MarginTop20">
                <div class="col-md-12">
                    <h4 class="RedText" ng-show="postError">{{ postError }}</h4>
                </div>
            </div>
        </form>
        <div class="Center" ng-show="messageGood">
            <h2 class="GreenText">Thanks for leaving us a message! It will appear in our guestbook within 24 hours.</h2>
            <h1 style="font-size: 55pt" class="GreenText MarginTop20 glyphicon glyphicon-check"></h1>
        </div>

    </div>
</script>

<style>
    .modal-content {
        background: #f5f5f5;
    }
</style>