@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matt and Brittney's Wedding</title>

    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/css")

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/controllers")
</head>
<body ng-app="mbsite">
    <div id="PageContainer" class="container-fluid">
        <div class="row">
            <div class="LeftSide col-sm-3 hidden-xs"></div>
            <div class="col-sm-9 col-xs-12">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
</body>
</html>
